@import "~@fontsource/roboto/index.css";
@import "~@fontsource/roboto/300.css";
@import "~@fontsource/roboto/500.css";
@import "~@fontsource/roboto/700.css";
@import "~@fontsource/roboto/900.css";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
    font-family: "Roboto";
    h1 {
        font-size: 4rem;
        font-weight: 400;
    }
    p {
        margin-top: 2rem;
        font-size: 20px;
    }
}