/* COLORE SFONDO */

$buttonPrimary: #377dff;
$buttonHover: #1e1e1e;
$ligthBlueBackground: #f2f7ff;
$featuresHover: #6cdac1;

/* COLORE TESTI */

$lightGreyText: #8e989f;

/* MARGINI */

$sectionMargin: 150px;